.sidebar {
  width: 0px;
  position: fixed;
  overflow-x: hidden;
  /* transition-delay: 5s; */
  transition: width 0.3s ease-in-out 0.2s;
  /* transition: 0.5s;  */
}
.loader {
  border: 6px solid rgba(255, 255, 255, 0.3); /* Light grey */
  border-top: 6px solid white; /* White */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
